html {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  address {
    font-style: normal;
  }
  
  button {
    border: 0;
    font-family: inherit;
    padding: 0;
    margin: 0;

    cursor: pointer;
    background-color: transparent;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  body {
    font-family: Poppins, sans-serif;
  }

  /* OWN STYLES */

  header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, #FF8552, #FE5454);
    color: #fff;
  }

  /* DASHBOARD */
  /* HEADER */

.container {
    width: 100%;
    display: flex;
}

.header-container {
    position: relative;
    width: 50%;
    margin-left: calc(20% + 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-button {
    fill: #fff;
}

.new-notify, .dashboard-tag {
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: #6783C2;
    border-radius: 50%;
    right: 7px;
    top: 0px;
}

.notification-container {
    position: absolute;
    width: 300px;
    height: 81vh;
    top: 50%;
    right: -30%;
    opacity: 0;
    pointer-events: none;
    transform: translate(0, -50%);
    padding: 20px;

    background-color: #fff;

    border-radius: 24px;
    box-shadow: 0px 13px 53px #d5d5d5;

    transition: all 250ms linear;
    overflow-x: hidden;
}

.active-container {
    top: 50%;
    right: 1%;
    transform: translate(0, -50%);
    opacity: 1;
    pointer-events: all;
}

.notification-list {
    padding-top: 20px;
}

.notification-list > li:not(:last-child) {
    margin-bottom: 15px;
}

.notification-item {
    display: block;
    height: 13vh;
    padding: 15px;

    background-color: #fff;

    border-radius: 24px;
    box-shadow: 0px 13px 53px #d5d5d5;
}

/* USER PART */
.user-part {
    width: 20%;
}

.user, .user-part-card, .user-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-part-card {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    width: 350px;
    height: 95%;
    padding: 30px 15px;
    background-color: #fff;

    border-radius: 24px;
    box-shadow: 0px 13px 53px #d5d5d5;
}

.user {
    width: 80%;
    margin-top: 15px;

    border-bottom: 1px gainsboro solid;
    border-top: 1px gainsboro solid;

    padding: 20px;
}

.user-photo {
    border-radius: 50%;
}

.username, .logo {
    font-weight: 700;
}

.username {
    margin-top: 15px;
}

.logo {
    font-size: 30px;
}

.role {
    text-transform: uppercase;
    font-weight: 600;
    color: #6783C2;
}

.list-item > a, .login-button, .message-button {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.message-button {
    margin-top: 15px;
    padding-bottom: 0;
    justify-content: center;
}

.list-item:not(:last-child) {
    margin-bottom: 20px;
}

.active-link {
    border-radius: 5px;
    background-color: #6783C2;
    color: #fff;
}

.active-link svg {
    fill: #fff;
}

.login-button {
    align-self: flex-end;
}

.site-nav {
    height: 100%;
    display: grid;
    align-items: flex-start;
    padding: 20px 0px;
}

/* MAIN CONTAINER */

.main-container {
    padding-left: 30px;
    padding-right: 30px;
    width: 55%;
}

.analytics-info {
    padding: 30px 15px;
    display: flex;
    margin-bottom: 10%;
}

.analytics-info {
    justify-content: space-between;
}

.stats-count {
    font-size: 30px;
    font-weight: 600;
}

.active-students-list  > li {
    padding: 5px 0;
    font-size: 20px;
    font-weight: 500;
}

caption {
    text-align: left;
    font-weight: 700;
    font-size: 25px;
    margin-top: 15px;
}

.recent-actions, .table-responsive {
    width: 100%;
    height: 90%;
    padding: 15px 30px;

    border-radius: 24px;
    box-shadow:  13px 13px 53px #d5d5d5,
             -13px -13px 53px #ffffff;
}

.recent-actions > table {
    width: 100%;
}

th {
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: 2px gainsboro solid;
}

.action-column {
    text-align: left;
    width: 60%;
}

.change-column {
    text-align: right;
    padding-right: 50px;
    width: 40%;
}

tbody td {
    padding: 20px 0px;
}

.side-bar {
    width: 25%;
}

.side-bar-card {
    width: 95%;
}

.messages-spot, .last-messages, .tasks-spot {
    margin-top: 20px;
}

.messages-spot, .tasks-spot {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: 70%;

    border-radius: 24px;
    box-shadow: 0px 13px 53px #d5d5d5;
}

.last-messages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-message {
    height: 20%;
    width: 90%;

    padding: 15px 0px;
    border: 1px solid gainsboro;
    border-radius: 15px;
}

.user-message:not(:last-child) {
    margin-bottom: 20px;
}

.user-message > a {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid gainsboro;
    border-radius: 50%;
}

.message {
    width: 250px;
    height: 70px;
    border: 1px solid gainsboro;
    border-radius: 15px;
}

/* STUDENTS-PAGE */

.students-main-part {
    width: 80%;
    height: 60%;

    padding: 30px;
}

.add-student {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gainsboro;
    padding: 10px;
    border-radius: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 600;
}

.add-student svg {
    margin-left: 10px;
}

.table-responsive {
    background-color: transparent;
    overflow-x: auto;
}

.student-table {
    width: 100%;
    overflow: hidden;
}

.student-table td {
    text-align: center;
}

.student-checkbox {
    width: 20px;
    height: 20px
}

.status-cell {
    display: flex;
    justify-content: center;
}

.status {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    
    background-color: #C3C3C3;
    }
    
    .active-user {
    background-color: #88C26D;
    }
    
    .options {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    fill: #6783C2;
    background-color: transparent;
    border-radius: 50%;
    /* border: 2px solid gainsboro; */
    }
    
    .option-button:not(:last-child) {
      margin-right: 10px;
    }

.table-nav {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.table-nav button {
    border: 1px solid gainsboro;
    border-radius: 15px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
}

.table-nav > .item:not(:last-child) {
    margin-right: 10px;
}

.current-page {
    background-color: #6783C2;
    color: #fff;
}

/* DELETE MODAL */

.delete-overlay-modal,
.add-overlay-modal {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(60, 60, 60, 0.25);
}

.add-overlay-modal {
opacity: 0;
pointer-events: none;
}

.delete-overlay-modal {
opacity: 0;
pointer-events: none;
}

.delete-modal {
display: flex;
flex-direction: column;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 650px;
height: 330px;
border-radius: 7px;

background-color: #F0F0F0;
border-radius: 15px;
box-shadow:  26px 26px 52px #a6a6a6,
             -26px -26px 52px #e0e0e0;
}

.modal-header {
display: flex;
align-items: center;
justify-content: space-between;
height: 70px;
}

.modal-caption,
.add-modal-caption,
.edit-modal-caption {
margin-left: 45px;
font-size: 24px;
}

.edit-modal-caption {
display: none;
}

.close-button {
display: flex;
align-items: center;
justify-content: center;
width: 50px;
height: 30px;
margin-right: 30px;

border-radius: 41px;
box-shadow:  30px 30px 60px #cccccc,
             -30px -30px 60px #ffffff;
}

.warning-message {
border-bottom: 1px solid #000000;
border-top: 1px solid #000000;
height: 190px;
text-align: center;
}

.warning-message > p {
padding-top: 44px;
padding-bottom: 115px;
font-size: 20px;
}

.modal-choice {
display: flex;
height: 70px;
align-items: center;
justify-content: flex-end;
margin-right: 30px;
}

.modal-choice > button {
  border-radius: 41px;
  box-shadow:  30px 30px 60px #cccccc,
             -30px -30px 60px #ffffff;
}

.modal-choice > button:not(:last-child) {
margin-right: 20px;
}

/* ADD MODAL */

.add-modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 580px;
height: 600px;
background-color: #F0F0F0;

border-radius: 30px;
box-shadow:  26px 26px 52px #a6a6a6,
             -26px -26px 52px #e0e0e0;
}

.add-form {
display: flex; 
justify-content: space-between;
padding: 95px 80px 90px 100px;

height: 460px;

border-bottom: 1px #000000 solid;
border-top: 1px #000000 solid;
}

.labels-container, .forms-container {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.student-form-input {
width: 235px;
height: 30px;
}

.invalid-input {
  border: 1px solid red !important;
}

.add-modal-choice {
display: flex;
flex-direction: row-reverse;
align-items: center;
padding-right: 30px;
height: 70px
}

.add-modal-choice > button {
  border-radius: 41px;
  box-shadow:  30px 30px 60px #cccccc,
             -30px -30px 60px #ffffff;
}

.add-modal-choice > button:not(:last-child) {
margin-left: 20px;
}

/* LOGIN PAGE */

.auth-header {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.auth-header > svg {
    fill: #FF8552;
}

.auth-container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 530px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 24px;
    box-shadow:  13px 13px 53px #d5d5d5,
             -13px -13px 53px #ffffff;

    transition: height 250ms linear;
}

.auth-choice {
    display: flex;
    justify-content: center;
    width: 100%;
}

.auth-button {
    width: 30%;
    padding: 10px;
    border-bottom: 3px solid black;
}

.current-button {
    font-weight: 600;
    border-color: #6783C2;
}

.auth-button:not(:last-child) {
    margin-right: 30px;
}

.login-popup, .login-popup > form, .register-popup, .register-popup > form {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.login-popup, .register-popup {
    margin-top: 20px;
    align-items: center;
}

.greeting {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

.input-hint {
    margin-top: 15px;
    font-size: 20px;
}

.login-popup > form, .register-popup > form {
    margin-top: 25px;
    width: 100%;
}

.confirmButton {
    width: 100%;
    background-color: black;
    border-radius: 15px;
}

.data-input {
    margin-bottom: 5px;
    font-weight: 600;
}

.data-input:not(:first-child) {
    margin-top: 20px;
}

.remember-checkbox {
    margin-right: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 15px;

}

#signInButton, #signUpButton, #createChatButton, #confirmCompanionsButton, #secondaryCompanionsConfirm {
    margin-top: 20px;
    width: 100%;
    background-color: black;
    font-weight: 600;
    color: white;
    padding: 15px;
    border-radius: 20px;
}

.register-popup {
    transform: translateX(500px);
    transition: transform 250ms linear;
}

.login-popup {
    transform: translateX(-500px);
    transition: transform 250ms linear;
}

.register-active {
    position: absolute;
    top: 20%;
    left: 15.049%;
    transform: translateX(0px);
}

.login-active {
    position: absolute;
    top: 25%;
    left: 20.1%;
    transform: translateX(0px);
}

.auth-reg-container {
    height: 700px;
}

.login-popup > a, .register-popup > a {
    text-align: center;
}

.login-error, .reg-error {
    opacity: 0;
    margin-top: 20px;
    color: red;
}

.chat-create-error {
    text-align: center;
    display: none;
    color: red;
}

.messages-container {
    display: flex;
    width: 60%;
    max-height: 800px;
    margin-left: 22%;
    margin-top: 15px;
    padding: 30px;    
    border-radius: 24px;
    box-shadow: 0px 13px 53px #d5d5d5;
    
}

.chats-container {
    margin-top: 25px;
    width: 30%;
    height: 670px;
    border-right: 2px solid gainsboro;
}

.chat-list {
    padding-top: 30px;
}

.user-chat-item {
    width: 90%;
    padding: 15px;
    border: 2px solid gainsboro;
    border-radius: 24px;
}

.user-chat-item > button {
    text-align: left;
}

.user-chat-item:not(:last-child) {
    margin-bottom: 15px;
}

.messages-header, .messages-header > button, .companions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messages-header {
    padding-right: 32px;
}

.message-control-button {
    padding: 10px;
    border: 2px solid gainsboro;
    border-radius: 40px;
}

#deleteChat, #addSecondaryCompanions {
    width: 50px;
    height: 50px;
}

#newChatButton > svg {
    margin-right: 5px;
}

.specified-chat-container {
    width: 70%;
    padding: 25px;
}

.companions-container {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 24px;
    box-shadow: 0px 13px 53px #d5d5d5;
    opacity: 0;
    pointer-events: none;
}

.companions {
    margin-top: 10px;
}

.message-field {
    width: 100%;
    margin-top: 20px;
    display: flex;
    padding: 10px;
    border: 2px solid gainsboro;
    box-shadow: 0px 13px 53px #d5d5d5;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.message-field > .form-input {
    border: none;
    padding: 10px;
    width: 90%;
}

.message-field > .form-input:focus {
    outline: none;
}

.specified-chat {
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 560px;
    overflow-y: auto;
}

.message-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    min-height: 540px;
}

.message-object {
    padding: 15px;
    font-size: 20px;
    background-color: #fff;
    box-shadow: 0px 13px 53px #d5d5d5;
    border-radius: 24px;
    max-width: 50%;
    margin-bottom: 5px;
}

.companion-logo, .companion-text {
    word-wrap: break-word;
}

.companion-text {
    margin-top: 10px;
}

.current-user-sender {
    align-self: flex-end;
    flex-wrap: wrap;
}

.another-user-sender {
    align-self: flex-start;
    flex-wrap: wrap;
}

.add-companion-container {
    z-index: 3;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.add-companion {
    background-color: #fff;
    box-shadow: 0px 13px 53px #d5d5d5;
    border-radius: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 400px;
    padding: 20px;
    overflow: hidden;
    transition: height 300ms linear;
}

.create-chat {
    height: 220px;
}

.create-chat-form {
    display: flex;
    flex-direction: column;
    transform: translateX(-110%);
    width: 100%;
    padding: 10px;
}

.create-chat-form-active {
    transform: translateX(0%);
}

.create-chat-header {
    display: flex;
    justify-content: space-between;
}

.create-chat-header > h2 {
    font-size: 22px;
    text-align: center;
}

.create-chat-form  .form-input{
    display: inline-block;
    padding: 10px;
    width: 50%;
}

.create-chat-form .form-input:hover {
    background-color: rgba(220, 220, 220, 0.6);
    cursor: pointer;
}

.create-chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-chat-header > .form-input {
    padding: 0px;
    border: none;
    width: auto;
}

.create-chat-header > .form-input:hover {
    cursor: pointer;
}

.companion-list {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    margin-top: 30px;
    overflow-y: scroll;
}

.companion-list > li {
    display: flex;
    justify-content: center;
}

.companion-list > li:not(:last-child) {
    margin-bottom: 10px;
}

.companion-list::-webkit-scrollbar, .specified-chat::-webkit-scrollbar {
    width: 2px;
}

.companion-list::-webkit-scrollbar-track, .specified-chat::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.companion-list::-webkit-scrollbar-thumb, .specified-chat::-webkit-scrollbar-thumb {
    background: lightgray;
}

.companion-list::-webkit-scrollbar-thumb:hover, .specified-chat::-webkit-scrollbar-thumb:hover {
    background: grey;
}

#createChatButton, #confirmCompanionsButton, #secondaryCompanionsConfirm {
    width: 80%;
    align-self: center;
}

.chat-name {
    display: flex;
    flex-direction: column;
    transform: translate(110%, -220%);
}

.chat-name-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-name-header > .form-input {
    padding: 0;
    border: none;
}

.chat-name-active {
    transform: translate(0%, -180%);
    padding: 10px;
}

.chat-name .form-input {
    padding: 15px;
    margin-top: 10px;
}

.chat-name-header > .form-input {
    width: auto;
    margin-top: 0;
}